.box{
    padding-top: 2%;
    align-items: center;
    border: 1px solid black;
    height: 240px;
    /* margin-left: 2%; */
    background-color:darkslateblue;
    color: white; 
    text-align: center;

}